/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  font-family: arial, sans-serif;
  color: #fff;
  background: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 500px;
  background: #F74C55 url(../img/bg-circles-full.jpg) 50% no-repeat;
}

.header a {
  color: #fff;
}

.menu-list:hover {
  color: black;
}

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
  margin-left: 0;
}

.logo {
  margin-right: 20%;
  display: block;
}

.menu {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40%;
}

.main {
  width: 300px;
  margin: 10% 0 0 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title {
  font-size: 40px;
  margin-bottom: 30px;
}

.main-text {
  font-size: 20px;
  margin-bottom: 30px;
}

.main-button {
  width: 130px;
  font-size: 23px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-button:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
}

.second-block {
  color: #4b4a4a;
  padding: 70px 0;
}

.second-title {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.second-text {
  font-size: 14px;
  line-height: 25px;
  margin: 20px 0;
}

.second-img {
  width: 178px;
  height: 32px;
  background: url(../img/bg-bricks.jpg) no-repeat;
  background-size: cover;
  margin: 60px 5px 0 40px;
}

.third-block {
  background: #2D5F3A;
}

.third-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  padding: 40px;
}

.third-block_container .wrapper:hover {
  background: #F74C55;
}

.third-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-third-logo {
  width: 28px;
  height: 34px;
  background-image: url(../img/ic-stat.png)
}

.third-title {
  margin-left: 25px;
}

.third-text {
  line-height: 25px;
  font-size: 14px;
  padding: 10px 0;
}

.second-third-logo {
  width: 36px;
  height: 36px;
  background-image: url(../img/ic-screen.png)
}

.third-third-logo {
  width: 39px;
  height: 27px;
  background-image: url(../img/ic-cloud.png)
}

.plus {
  margin-top: 20px;
}

.plus-one {
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
  color: #fff;
  font-size: 42px;
  margin-left: 80%;
}

.forth-block {
  min-height: 499px;
  background: url(../img/bg-nature.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forth-wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 13%;
}

.forth-title {
  font-size: 50px;
  text-align: center;
  line-height: 60px;
}

.forth-button {
  margin-top: 30px;
}

.button-view {
  color: #fff;
  font-size: 30px;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 30px;
}

.band {
  width: 100%;
  height: 10px;
  background: url(../img/bg-bricks.jpg);
}

footer a {
  color: #595959;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px;
}

@media screen and (max-width: 925px) {
  .container {
    width: 846px;
    margin: 0;
  }
  .main {
    margin: 18% 0 0 42%;
  }
  .second-block_container {
    width: 870px;
    padding-left: 30px;
  }
  .third-block_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .third-block_container {
    margin: 0;
  }
}

@media screen and (max-width: 782px) {
  .container {
    width: 360px;
    padding: 0;
  }
  .logo {
    display: none;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20% 0 0 10%;
  }
  .main {
    margin-left: 4%;
  }
  .main-button {
    margin-left: 15%;
  }
  .main-title{
    font-size: 33px;
  }
  .main-text{
    font-size: 13px;
  }
  .menu li {
    margin-top: 10px;
  }
  .second-block_container {
    padding: 0 10px;
  }
  .third-block_container {
    width: 360px;
  }
  .forth-title{
    font-size: 37px;
  }
}